[Unit]
Description=rest-to-mopidy service
After=network-online.target
Wants=network-online.target

[Service]
User=pi
Group=pi
WorkingDirectory=/opt/rest-to-mopidy
ExecStart=/opt/rest-to-mopidy/run.sh
Restart=always

[Install]
WantedBy=multi-user.target